@font-face {
    font-family: "Light";
    src: local("Alegreya-VariableFont_wght"),
      url("../../assets/Alegreya-VariableFont_wght.ttf") format("truetype");
  }
.containerofdivcarr {
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(rgb(73, 197, 139), rgb(31, 30, 37));
    overflow: hidden;
}
.containerCarr {
    display:flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 400vw;
    animation: mesImages 30s linear infinite;
}

.vrai {
    height: 100vh;
    width: 200vw;
    display: flex;
}
.imagecarr {
    height: 40vh;
    width:15vw;
    transition: transform 1s;
    border: 4px solid #f1f1f1;
    border-radius: 5px;
}

.imagecarr2 {
    height: 30vh;
    width: 20vw;
    border: 2px solid #f1f1f1;
    transition: transform 1s;
    border-radius: 5px;
}

.imagecarr:hover {
    cursor: pointer;
    transform: scale(1.1);
}
.imagecarr2:hover {
    cursor: pointer;
    transform: scale(1.1);
}

@keyframes mesImages {
    0% {
        transform: translateX(0);

    }
    100% {
        transform: translateX(-100%);
    }
}


/* modal css */
body.active-modal {
    overflow-y: hidden;
}
.modal, .overlay {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: #0f010100;
    border-radius: 5px;
    z-index: 1;
}
.image-modal{
    height:50vh;
    width: 40vw;
    border-radius: 8px;
}
.close-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    width:50px;
    border-radius: 30px;
    background: rgba(235, 55, 55, 0.856);
}

.xofthebutton {
    color: wheat;
    text-shadow: 1px 1px 2px #000;
}

@media (max-width:1280px) {
    .vrai {
        width: 300vw;
    }
    .imagecarr {
        width: 22.5vw;
    }
    .imagecarr2 {
        width: 30vw;
    }
}
@media (max-width:720px) {
    .containerofdivcarr {
        height: 80vh;
    }
    .containerCarr {
        height: 80vh;
        animation: mesImages 30s linear infinite;
    }
    .vrai {
        height: 80vh
        ;
    }
    .vrai {
        width: 500vw;
    }
    .imagecarr {
        width: 42.5vw;
    }
    .imagecarr2 {
        width: 50vw;
    }
    .image-modal {
        width: 90vw;
    }
    .imagecarr:hover {
        transform: scale(1);
    }
    .imagecarr2:hover{
        transform: scale(1);
    }
}