@font-face {
    font-family: "contint";
    src: local("Alegreya-VariableFont_wght"),
      url("../../assets/Alegreya-VariableFont_wght.ttf") format("truetype");
  }

.containercontentint {
    display: flex;
    flex-flow: column wrap;
    height: 100vh;
    width: 100vw;
}

.containerdivcontentint {
    display: flex;
    flex-direction: row;
    height: 80vh;
    width: 100vw;
}

.divcontentintr {
    display: flex;
    height: 80vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    background: yellow;
}
.divcontentintl {
    display: flex;
    height: 80vh;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    background: rgb(12, 6, 97);
}
.divcontentintb {
    display: flex;
    height: 20vh;
    width: 100vw;
    background: rgb(65, 238, 12);
}