@font-face {
    font-family: "text";   /*Can be any text*/
    src: local("Alegreya-VariableFont_wght"),
      url("../assets/Alegreya-VariableFont_wght.ttf") format("truetype");
  }

.aosdiv {
    height: 70%;
    width: 40%;
    position: absolute;
    right: 0;
    margin-top: 12%;
    margin-right: 5%;
}

.imgProfile {
    height: 100%;
    width: 100%;
    position: absolute;
}

.aosdivtext {
    height: 50%;
    width: 30%;
    margin-top: 18%;
    margin-left: 10%;
    position: absolute;
    font-family: "text";

}
.imgbg2 {
    height: 50%;
    width: 50%;
    filter: blur(7px);
    position: absolute;
    animation : bgimg 3s alternate infinite;
}
@keyframes bgimg {
    0% {
        transform : translateX(0%);
        transform: scale(1.1);
    }
    100% {
        transform : translateX(10%);
        transform: scale(1.15);
    }
}

.img-txt {
    height: 50%;
    width: 40%;
    border-radius: 10px;
    position: absolute;
    top: 25%;
    margin: 4%;
}

.textp {
    width: 50%;
    right: 0;
    top: 25%;
    color: #121212;
    position: absolute;
}
.textp2 {
    width: 50%;
    right: 0;
    top: 37%;
    color: #121212;
    position: absolute;
}

.titlediv{
    width: 60%;
    height: 20%;
    left: 30%;
    margin-top: 2%;
    position: absolute;
    font-size: 40px;
    color: #121212;
    font-family: "text";
}
 .titleprofile{
    width: 50%;
    position: absolute;
 }