.contactView {
    height :30rem;
    width: 100%;
    position: relative;
    bottom: 0;
    background-color: rgb(27, 43, 36);
}

.visitgardendiv {
    height: 10%;
    width: 100%;
    background: #000;
    position: absolute;
}

.visitgardendiv:hover {
    cursor: pointer;
}

.visitgardentext {
    text-align: center;
    color: white;
}

.socialdiv{
    height:15%;
    width: 100%;
    top:15%;
    position: absolute;
}

.logoface {
    height: 80%;
    position: absolute;
    align-items: center;
    right:48.5%;
    top: 15%;
}

.textmiddlediv {
    height : 10%;
    width: 100%;
    position: absolute;
    top: 35%
}
.textmiddle {
    text-align: center;
    color: white;
    text-shadow: 1px 1px 2px #000;
}

.bottomcontact {
    height: 50%;
    top: 50%;
    width: 50%;
    position: absolute;
}
.bottomcontact2 {
    height: 50%;
    top: 53%;
    width: 100%;
    position: absolute;
    right: 0;
}

.bottommailtxt {
    text-align: center;
    color:  white;
    text-shadow: 1px 1px 2px #000;
    margin-left : 5px;
}
.bottomnametxt {
    font-size: 25px;
    text-align: center;
    text-shadow: 1px 1px 2px #000;
    color:  white;
}
.bottomteltxt {
    text-shadow: 1px 1px 2px #000;
    text-align: center;
    color:  white;
    margin-left : 2px;
}
.phoneicon {
    align-self: center;
    transform: rotate(140deg);
}
.phoneenvelope {
    align-self: center;
}