
.imgs {
   display: flex;
   animation-duration: 10s;
   animation-name: mesImages;
   animation-iteration-count: infinite;
}
.carr {
   overflow: hidden;
   background: silver;
   border: 2px solid gold;
}

@keyframes mesImages {
    0% {
        transform: translateX(0);
    }
    25% {
        transform: translateX(-640px);
    }
    50% {
        transform: translateX(-1280px);
    }
    75% {
        transform: translateX(-1920px);
    }
    100% {
        transform: translateX(0);
    }
}